<div class="topnav">
    <a class="active" href="#home">WebTonic</a>
  </div> 



<div>
  <h2>A basic HTML table</h2>

<table style="width:50%">
  <tr>
    <th>File name</th>
    <th>Timestamp</th>
    <th>Upload results</th>
  </tr>
  <tr>
    <td>CSV file</td>
    <td>CSV file</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>CSV file</td>
    <td>CSV file</td>
    <td>CSV file</td>
  </tr>
</table>
</div>

<div>
  <input style="padding-top:10px" type="file" (change)="onFileChanged($event)">
</div>

